modules = ["python-3.11"]
run = "streamlit run main.py --server.port 5000 --server.address 0.0.0.0 --server.headless true"

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
run = ["sh", "-c", "streamlit run main.py --server.port 5000 --server.address 0.0.0.0 --server.headless true"]

[[ports]]
localPort = 5000
externalPort = 80
